@import url("variables.css");

/* darkmode */
@import url("../css/darkMode.css");

/* partials */
@import url("../css/partials/profile.css");
@import url("../css/partials/about.css");
@import url("../css/partials/techstacks.css");
@import url("../css/partials/projects.css");


/* nav and main structure format style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  
}

/* navbar */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--navbar-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}

nav {
  position: static;
  padding: 6px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 var(--padding-md);
  gap: var(--gap);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.navbar-left img {
  max-height: 3rem;
  height: auto;
  width: auto;
}

.navbar-left input[type="text"] {
  padding: 0.3rem 1rem;
  border: 1px solid var(--border);
  border-radius: 999px;
  font-size: .8rem;
  font-family: 'Inter', sans-serif;
  height: 2rem;           
  line-height: 2rem;      
  box-sizing: border-box;   
}

.navbar-left input[type="text"]::placeholder {
  font-family: 'Inter', sans-serif;
  color: var(--input-placeholder);
  font-size: 0.8rem;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.navbar-right .flex {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  text-decoration: none;
  color: var(--text-color-muted);
  font-weight: 500;
  font-size: .85rem;
}

/* .navbar-right i {
  font-size: .85rem;
  line-height: 1;
  color: var(--text-color-muted);
} */

.navbar-right .flex:hover {
  color: var(--link-hover);
}

/* main layout */
main.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap);
  max-width: 1100px;
  margin: 1.25rem auto 0 auto;
  width: 100%;
  padding: 0 var(--padding-md);
}

.left-parent,
.right-parent {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

/* responsive */
@media (max-width: 768px) {
  .navbar-left input[type="text"] {
    display: none;
  }

  main.main-container {
    grid-template-columns: 1fr;
  }
}
