:root {
  --bg-color: #f4f4f4;
  --text-color: #333;
  --navbar-bg: #ffffff;
  --border: #eaeaea;
  --input-placeholder: #888;
  --link-hover: #0077ff;

  --padding-sm: 0.6rem;
  --padding-md: 1rem;
  --padding-lg: 3rem;
  --gap: 1.25rem; /* 20px = 1.25rem */
}

.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --navbar-bg: #2a2a2a;
  --border: #444;
  --input-placeholder: #aaa;
  --link-hover: #5abfff;
}