:root {
  /* bgs & borders */
  --bg-color: #f4f4f4;
  --navbar-bg: #ffffff;
  --border: #cccccc;

  /* text colors */
  --text-color: #111111;       
  --text-color-muted: #333333;   
  --text-color-light: #555555;   
  --text-color-white: #ffffff;  

  /* UI */
  --input-placeholder: #888888;
  --link-hover: #0077ff;

  /* spacing */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 3rem;
  --padding-section: 24px;
  --gap: 1.25rem; /* 20px */
}

.dark-mode {
  /* bgs & borders */
  --bg-color: #000000;
  --navbar-bg: #111111;
  --border: #444444;

  /* text colors */
  --text-color: #f0f0f0;         /* primary text – very light gray */
  --text-color-muted: #d9d9d9;   /* secondary text – slightly dimmer */
  --text-color-light: #cccccc;   /* metadata or hints – dimmer still */
  --text-color-white: #000000; 

  /* UI */
  --input-placeholder: #aaa;
  --link-hover: #5abfff;
}
