<article class="about-card">
  <div class="about-header">
    <h2>About Me</h2>
    <button aria-label="Edit">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>
  <div class="about-info">
    <p>
      I'm an aspiring UI/UX Engineer and a BS Computer Science graduate. My
      interest in tech started with curiosity, but it grew deeper when I began
      exploring how design and functionality come together in web development.
    </p>
    <p>
      During college, I realized I enjoy front-end the most—especially turning
      UI designs into real, responsive code. It’s satisfying to bring visual
      ideas to life and create interfaces that are both clean and easy to use.
    </p>
    <p>
      When I’m not in front of my computer, I like watching anime and Ghibli
      films to find creative inspiration. I also enjoy spending time with my
      cat, Yuki.
    </p>
  </div>
</article>
