<article class="projects-card">
  <div class="project-header">
    <h2>Certificates</h2>
    <div class="project-actions">
      <button aria-label="Add">
        <i class="fa-solid fa-plus"></i>
      </button>
      <button aria-label="Edit">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </div>
  </div>

  <div class="project-info">
    <div class="project-list">
      <div class="project-item">
        <a href="#" class="project-link">
          <h4>
            Craft & Click: Designing Identities and Experiences!
            <i class="fas fa-link"></i>
          </h4>
        </a>
        <p>
          Attended a hands-on UI/UX workshop by DEVCON Philippines on design
          fundamentals and prototyping.
        </p>
        <span>DEVCON Pampanga</span>
      </div>
      <div class="project-item">
        <a href="#" class="project-link">
          <h4>Responsive Web Design<i class="fas fa-link"></i></h4>
        </a>
        <p>Completed 300 hours of HTML, CSS, and JavaScript projects.</p>
        <span>FreeCodeCamp</span>
      </div>
      <div class="project-item">
        <a href="#" class="project-link">
          <h4>
            Learn Sass Course
            <i class="fas fa-link"></i>
          </h4>
        </a>
        <p>Completed Codecademy’s Learn Sass course, focusing on modular and maintainable CSS with Sass fundamentals.</p>
        <span>Codecademy</span>
      </div>
      <div class="project-item">
        <a href="#" class="project-link">
          <h4>Decoding Excel: The Secret Language of Formula<i class="fas fa-link"></i></h4>
        </a>
        <p>Joined PUP’s Excel webinar on mastering formulas to boost spreadsheet efficiency.</p>
        <span>Polytechnic University of the Philippines</span>
      </div>
    </div>
  </div>
</article>
