<article class="projects-card">
  <div class="project-header">
    <h2>Projects</h2>
    <div class="project-actions">
      <button aria-label="Add">
        <i class="fa-solid fa-plus"></i>
      </button>
      <button aria-label="Edit">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </div>
  </div>

  <div class="project-info">
    <div class="project-list">
      <div class="project-item">
        <a href="https://github.com/iamjow/quix-core-ui-library.git" target="_blank" class="project-link">
          <h4>Quix Core UI <i class="fas fa-link"></i></h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur dolor sit amet.</p>
        <span>Web</span>
      </div>

      <div class="project-item">
        <a href="https://capstone-title-generator-vino.netlify.app/" target="_blank" class="project-link">
          <h4>Capstone Title Generator <i class="fas fa-link"></i></h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur dolor sit amet.</p>
        <span>Web</span>
      </div>

      <div class="project-item">
        <a href="https://ojt-boys-yearbook.vercel.app/" target="_blank" class="project-link">
          <h4>Yearbook 2025 <i class="fas fa-link"></i></h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur dolor sit amet.</p>
        <span>Web</span>
      </div>

      <div class="project-item">
        <a href="https://github.com/frncsvn30/smart-door-lock-system.git" target="_blank" class="project-link">
          <h4>Smart Door Lock System <i class="fas fa-link"></i></h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur dolor sit amet.</p>
        <span>WebApp</span>
      </div>
    </div>
  </div>
</article>
