<article class="team-card">
  <h2 class="team-title">UI/UX Team</h2>
  <ul class="team-list">
    <li class="team-member">
      <img
        src="../assets/images/My Team/cueto.jpg"
        alt="Jowin Cueto"
        class="avatar"
      />
      <a href="#" class="member-info">
        <h4 class="member-name">Jowin Cueto</h4>
        <span class="member-role">Senior Software Engineer</span>
      </a>
      <button class="message-btn" title="Message">
        <i class="fa-regular fa-comment-dots"></i>
      </button>
    </li>
    <li class="team-member">
      <img
        src="../assets/images/My Team/sulit.png"
        alt="Victor Sulit Jr."
        class="avatar"
      />
      <a href="#" class="member-info">
        <h4 class="member-name">Victor Sulit Jr.</h4>
        <span class="member-role">UI/UX Engineer</span>
      </a>
      <button class="message-btn" title="Message">
        <i class="fa-regular fa-comment-dots"></i>
      </button>
    </li>
    <li class="team-member">
      <img
        src="../assets/images/My Team/arzola.jpg"
        alt="Benedict Arzola"
        class="avatar"
      />
      <a href="#" class="member-info">
        <h4 class="member-name">Benedict Arzola</h4>
        <span class="member-role">Associate Software Engineer</span>
      </a>
      <button class="message-btn" title="Message">
        <i class="fa-regular fa-comment-dots"></i>
      </button>
    </li>
  </ul>
</article>
