<article class="techstacks-card">
  <div class="card-header">
    <h2>Tech Stacks and Skills</h2>
    <div class="card-actions">
      <button aria-label="Edit">
        <i class="fas fa-pen"></i>
      </button>
      <button aria-label="Add">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
  </div>

  <div class="techstack-info">
    <div class="techstack-list">
      <span>HTML5</span>
      <span>CSS</span>
      <span>JavaScript</span>
      <span>Assembly</span>
      <span>Sass</span>
      <span>Tailwind CSS</span>
      <span>UIKit</span>
      <span>VueJS</span>
      <span>Git</span>
      <span>NPM</span>
      <span>Figma</span>
      <span>Responsive Design</span>
      <span>User Interface Design</span>
      <span>User Experience Design</span>
    </div>
  </div>
</article>
